<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<HTML>
<HEAD>
	<TITLE>Hola Mundo!</TITLE>
</HEAD>
<BODY>
	<CENTER>
		<P>
		<FONT FACE="Geneva, Arial" SIZE="2">
			Hola <B><wo:str value="$nameString" /></B>!</FONT>
		<P>
		<FONT FACE="Geneva, Arial" SIZE="1">
			<wo:link pageName="Main">Regresar a p&aacute;gina principal</wo:link>
		</FONT>
	</CENTER>
	<CENTER>
		<P>
		<FONT FACE="Arial" SIZE="1" COLOR="#888888">
			<B>HelloWorld</B><BR/>
			Copyright &copy; 2001 Apple Computer, Inc. All rights reserved.
		</FONT>
	</CENTER>
</BODY>
</HTML>