<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<HTML>
<HEAD>
	<TITLE>Hello World!</TITLE>
</HEAD>
<BODY>
	<wo:form>
		<CENTER>
			<TABLE BORDER="0" CELLPADDING="5" CELLSPACING="10" WIDTH="600">
				<TR>
					<TD WIDTH="55%">
						<P>
						<FONT FACE="Geneva, Arial" SIZE="1">
							This application supports English, French, Spanish, German, Japanese, and Chinese. Change your browser's languages preferences to view the different languages.
						</FONT>
						</P>
						<P>
						<FONT FACE="Geneva, Arial" SIZE="1">
							This example application demonstrates the communication of between components - specifically how to utilize key-value coding to pass information between objects without having to implement accessor methods.
						</FONT>
						</P>
						<P>
						<FONT FACE="Geneva, Arial" SIZE="1">
							In this example, we use a form with a single text field and submit button, and a single method in the Main component to pass your name from one page to the next.
						</FONT>
						</P>
					</TD>
					<TD WIDTH="10%">&nbsp;</TD>
					<TD WIDTH="35%">
						<P>
						<FONT FACE="Geneva, Arial" SIZE="2">
							What is your name?
						</FONT>
						</P>
						<P>
						<FONT FACE="Geneva, Arial" SIZE="2">
							<wo:textfield value="$nameString"></wo:textfield>
							<wo:submit action="$sayHello"></wo:submit>
						</FONT>
						</P>
					</TD>
				</TR>
			</TABLE>
		</CENTER>
	</wo:form>
	<CENTER>
		<P>
		<FONT FACE="Arial" SIZE="1" COLOR="#888888">
			<B>HelloWorld</B><BR/>
			Copyright &copy; 2001 Apple Computer, Inc. All rights reserved.
		</FONT>
		</P>
	</CENTER>
</BODY>
</HTML>